{%extends "base.html"%}

{%block head%}
{%endblock%}

{%block body%}
<div class="login_menu">
	<div style="display: table;padding-bottom:20px; width: 100%">
		<div style="float:left; width: 10%">
			<a href="/ecologia/menu"><img src="/site_media/img/home48.png" title={%block home_title%}{%endblock%}></a>
		</div>
		
		<div style="float:left; width: 80%">
			<div style="text-align: center">
				<h1>{%block title%}{%endblock%}</h1>
			</div>
		</div>
		
		<div align="right" style="float:right; width: 10%">
			<a style="text-decoration: none;color: #000000;" href="/ecologia/logout/"> Cerrar sesi&oacute;n
			<br>
			{{user.username}}</a>
		</div>
		{% ifnotequal request.session.admin_selectd_program_id None %}
			<div align="right" style="float:right; width: 10%; overflow: hidden; height:60px;" title='{{request.session.admin_selectd_program_name}}' >				
				<b>Proceso: </b> {{request.session.admin_selectd_program_name}}
			</div>			
		{% endifnotequal %}
		
		
	</div>
	
	<div align="center" style="margin: auto; padding-top: 30px">
		{%block menu_body%}{%endblock%}
	</div>
</div>
{%endblock%} 